<div id="chirp-feed">
  <h1>Your Chirps Feed:</h1>

  <% @chirps.each do |chirp| %>
    <div class="chirp media">
      <%= image_tag(chirp.user.profile_image, class: "mr-3 profile-img") %>
      <div class="media-body">
        <h5 class="mt-0"><%= chirp.user.first_name %> <%= chirp.user.last_name %></h5>
        <small><%= chirp.formatted_time %></small>
        <p><%= link_to("#{chirp.content}", "/chirps/#{chirp.id}") %></p>
      </div>
    </div>
  <% end %>
</div>